﻿body {
	background-color: black;
	min-height: 450px !important;
	min-width: 700px !important;
}

#Result {
	color: burlywood;
	font-family: Arial;
	font-size: xx-large;
	font-weight: bolder;
}

button {
	width: 200px;
	height: 50px;
}
