﻿<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" href="~/Content/Images/favicon.ico" />
	@System.Web.Optimization.Styles.Render("~/Content/css")
	<title>TicTacToe</title>
</head>
<body style="overflow:scroll">
	<canvas id="TicTacToeCanvas" class="pull-left" style="border:2px solid #d3d3d3; margin:10px; min-width:400px; min-height:400px;"> </canvas>
	<table>
		<tr>
			<td>
				<div style="width:100%">
					<button id="StartGame" class="pull-left btn btn-lg btn-primary" style="margin:10px;" value="StartGame">Start Game</button>
					<button id="Quit" class="pull-left btn btn-lg btn-danger" style="margin:10px; display:none" value="Quit">Quit</button>
					<button id="PlayAgain" class="pull-left btn btn-lg btn-success" style="margin:10px; display:none" value="PlayAgain">PlayAgain</button>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div id="Result" class="pull-left" style="margin:10px; display:none"></div>
			</td>
		</tr>
	</table>
	@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
	@System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
	@System.Web.Optimization.Scripts.Render("~/bundles/tictactoe")
</body>
</html>
